---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardCollection from "../components/CardCollection.astro";
import ImageCard from "../components/ImageCard.astro";

import recipes from "../data/recipes";
const slicedRecipes = recipes.slice(1, 4);
---

<BaseLayout title="Recipe. — Recipes Worth Sharing, Cooking Made Easy.">
  <header class="hero">
    <div class="hero-caption">
      <h3>Cook Share Enjoy</h3>
      <h1 class="tight-spacing">
        Recipes Worth Sharing. Cooking Made Simple.
      </h1>
      <p>
        Simple, delicious recipes for every occasion, bringing people together
        and making cooking easy and enjoyable for all.
      </p>
      <button class="btn-primary">
        <a href="/auth/sign-up">Get Started</a>
        <svg
          fill="#FFFFFFFF"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="primary"
            d="M3,12H21m-3,3,3-3L18,9"
            style="
                fill: none;
                stroke: rgb(255, 255, 255);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 1.5;
              "
          ></path>
        </svg>
      </button>
    </div>

    <figure class="hero-image">
      <img src="/pasta-with-tomatao-basil.jpg" alt="image-of-food" />
    </figure>
  </header>

  <CardCollection
    controls={true}
    title="Trending"
    actionName="See all"
    link="/trending"
  >
    {
      slicedRecipes.map((recipe) => {
        return (
          <ImageCard
            name={recipe.title}
            link={`/recipes/${recipe.slug}`}
            imgSrc={recipe.imgSrc}
            rating={recipe.rating}
          />
        );
      })
    }
  </CardCollection>

  <CardCollection
    title="Most Loved"
    controls={true}
    link="/most-loved"
    actionName="See all"
  >
    {
      slicedRecipes.map((recipe) => {
        return (
          <ImageCard
            name={recipe.title}
            link={`/recipes/${recipe.slug}`}
            imgSrc={recipe.imgSrc}
            rating={recipe.rating}
          />
        );
      })
    }
  </CardCollection>
</BaseLayout>
